
*:focus {
    outline: none;
}

html {
  background-color: black;
}

body {
  font-family: 'Press Start 2P', Courier, monospace;
}

html, body {
/*  overflow: hidden;*/
}

main {
  height: 100%;
  width: 100%;
  position: relative;
}



section {
  z-index: 10;
}




/* Screens
------------------------------------- */
 
.static_screens {
  background-image: url('../img/background.png');
  background-repeat: none;
  background-size: 100%;
  background-position: center bottom;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.screen {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  padding: 2rem;
  overflow: hidden;

}

.screen .box {
  margin-top: 1rem;
  padding: 2rem;
  background-image: url('../img/misc/background_txt.png');
  background-repeat: none;
  background-size: 100% 100%;
}

.screen button {
  background-color: #EC008C;
  border: 0;
  padding: 0.75rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  border-left: 5px solid #2E3192;
  border-right: 5px solid #2E3192;
  border-bottom: 8px solid #2E3192;
  color: #FFF200;
  width: 100%;
  text-align: left;
}

#screen_1 button {
  text-align: center !important;
}

#screen_2 button {
  text-align: center !important;
}

.screen button:hover {
  background-color: #FFF200;
  color: #EC008C;
  border-bottom: 4px solid #2E3192;
}

.screen button.active {
  background-color: #FFF200;
}

.screen button span {
  padding: 4px;
  border: 3px solid #FFF200;
}

.screen button:hover span {
  padding: 4px;
  border: 3px solid #EC008C;
}

.screen .buttons {
  display: block;
  width: 100%;
}

.screen .image img {
  max-width: 75%;
  display: block;
  margin: 0 auto;
}

.screen .buttons img {
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#screen_1 {
  background-image: url('../img/screens/screen_1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

#screen_2 {
  background-image: url('../img/screens/screen_2.png');
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: center bottom;
}

#screen_90 img,
#screen_91 img,
#screen_51 img,
#screen_52 img {
  width: 50%;
  height: auto;
}


.about p span {
  background-color: yellow;
}



#menu {
  height: 100vh;
}

/* Counter */
div#dias {
  position: fixed;
  top: 1.6rem;
  right: 1rem;
  z-index: 20;
}

/*.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: all .25s;
  transform: scale(1.0);
}
*/
.fade-enter {
  opacity: 0;
  transform: scale(0.8);
}

.fade-enter-to {
  opacity: 1;
  transition: all .15s;
  transform: scale(1);
  transition-delay: .15s;
}

/*.fade-enter, .fade-leave-to */
 .fade-leave-to {
  opacity: 0;
  transition: all .15s;
  transform: scale(0.8)
}




.clicker {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.clicker .left {
  height: 100%;
  width: 50%;
  float :left;
}

.clicker .right {
  height: 100%;
  width: 50%;
  float: right;

}