
html {
  background-color: black;
}

html, body, main, section{
  height: 100%;
  width: 100%;
}

nav > div {
  background: rgba(0,0,0,0.25);
  height: 100%;
}

nav > div > div{
  background: black;
  height: 100%;
  width: 0%;
}

section {
  position: relative;
}

.clicker {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.clicker .left {
  height: 100%;
  width: 50%;
  float :left;
}

.clicker .right {
  height: 100%;
  width: 50%;
  float: right;
}

.screen {
  position: absolute;
  height: 100vh;
  width: 100%;
}