
html {
  background-color: black;
  overflow: hidden;
}

body {
  font-family: 'Press Start 2P', Courier, monospace;
}

html, body {
  height: 100%;
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100%;
  position: relative;
}



section {
  z-index: 10;
}


section {
}

.screen2 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../img/background.png');
  background-repeat: none;
  background-size: 100%;
  background-position: center bottom;
}

.screen {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
}

.screen button {

}

.screen .buttons {

}


#menu {
  height: 100vh;
}

/* Counter */
div#dias {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
}





button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 0.5rem;
}

.clicker {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.clicker .left {
  height: 100%;
  width: 50%;
  float :left;
}

.clicker .right {
  height: 100%;
  width: 50%;
  float: right;

}