<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Glicom</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css"/>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/main.css"/>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="js/screens.js"></script>
  <script src="js/main.js"></script>

</head>
<body>

  <main id="app" class="">

    <!-- Loading -->
    <div class="loading">
      <h1 class="white tc">Loading...</h1>
    </div>

    <!-- Dias counter -->
    <div v-model="dias" id="dias" class="yellow dn">
      {{ dias }} dias
    </div>
    

    <!-- Static screens -->
    <section class="static_screens dn" v-if="menu == false">

      <transition name="fade">
      <!-- Screen 1 -->
      <article id="screen_1" class="screen" v-if="current_screen == 1">
        <div></div>

        <div class="buttons">
          <button class="db f6" data-key="a" v-on:click="goTo(2)"><span>A</span> Jogar</button>
        </div>
      </article>
      </transition>

      <!-- Screen 2 -->
      <transition name="fade">
      <article id="screen_2" class="screen" v-if="current_screen == 2">
        <div class="box f6">
          Parabéns, acabaste de receber uma bolsa de investigação de 3 anos! Tens <span style="background-color: yellow;">1460 dias</span> para descobrir a proteína correta para identificar cancro nas células. Boa sorte!
        </div>
  

        <div class="buttons">
          <button class="db f6" data-key="a" v-on:click="goTo(3)"><span>A</span> Investiga!</button>
        </div>
      </article>
      </transition>

      <!-- Screen 3 -->
      <transition name="fade">
      <article id="screen_3" class="screen" v-if="current_screen == 3">
         <div class="box f6">
          Este thriller científico compara células normais das tumorais, com o objetivo de encontrar o indicador do estado de doença do paciente — o BIOMARCADOR. Escolhe uma das 4 Proteínas. Boa sorte!
        </div>
  
        <div class="buttons">
          <button class="db f6" data-key="a" v-on:click="goTo(4)"><span>A</span> Glypican</button>
          <button class="db f6" data-key="b" v-on:click="goTo(7)"><span>B</span> Betaglycan</button>
          <button class="db f6" data-key="c" v-on:click="goTo(11)"><span>C</span> Proteoglycan</button>
          <button class="db f6" data-key="d" v-on:click="goTo(15)"><span>D</span> Versican</button>
        </div>
      </article>
      </transition>

      <!--
        A: 3 - completo - imagens - falta modals
        B: 4 - completo - imagens - falta modals
        C: 4 - completo - imagens - falta modals
        D: 1 - completo - imagens - falta modals

        - scoring
      -->


      <!-- A - Glypican ----------------------- -->
      <!-- Q1 -->
      <!-- Screen 4 -->
      <transition name="fade">
      <article id="screen_4" class="screen" v-if="current_screen == 4">
        <div class="box f6">
         Será que a célula tumoral tem muita proteína?
        </div>

        <div class="image center">
          <img src="img/misc/protein_a.png" >
        </div>

        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(5)"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Não</button>
        </div>

      </article>
      </transition>


      <!-- Q2 -->
      <!-- Screen 5 -->
      <transition name="fade">
      <article id="screen_5" class="screen"  v-if="current_screen == 5">
        <div class="box f6">
         Vais ter de submeter um projeto para um congresso. Vais escrever ou não?
        </div>

        <div class="image center">
          <img src="img/misc/paper.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(6)"><span>A</span> Escrever</button>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Não Escrever</button>
        </div>
      </article>
      </transition>


      <!-- Q3 -->
      <!-- Screen 6 -->
      <transition name="fade">
      <article id="screen_6" class="screen"  v-if="current_screen == 6">
        <div class="box f6">
         Vamos comparar com a célula normal. Qual das células vai ter mais proteína?
        </div>

      <div class="image center dn">

        </div>


        <div class="buttons">

          <p><img src="img/misc/protein_a.png" /></p>
          <button class="db" data-key="a" data-truth="F" v-on:click=""><span>A</span> Tumoral</button>
          <p><img src="img/misc/normal_cell.png" /></p>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Normal</button>
        </div>

      </article>
      </transition>




      <!-- B - Betaglycan ----------------------- -->
      <!-- Q1 -->
      <!-- Screen 7 -->
      <transition name="fade">
      <article id="screen_7" class="screen"  v-if="current_screen == 7">
        <div class="box f6">
         Será que a célula tumoral tem muita proteína?
        </div>

        <div class="image center">
          <img src="img/misc/protein_b.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(8)"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Não</button>
        </div>
      </article>
      </transition>

      <!-- Q2 -->
      <!-- Screen 8 -->
      <transition name="fade">
      <article id="screen_8" class="screen"  v-if="current_screen == 8">
        <div class="box f6">
         Vamos comparar com a célula normal. Qual das células vai ter mais proteína?
        </div>

        <div class="image center dn">
        </div>


        <div class="buttons">
           <img src="img/misc/protein_b.png" >
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(9)"><span>A</span> Tumoral</button>
           <img src="img/misc/normal_cell.png" >
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Normal</button>
        </div>
      </article>
      </transition>

      <!-- Q3 -->
      <!-- Screen 9 -->
      <transition name="fade">
      <article id="screen_9" class="screen"  v-if="current_screen == 9">
        <div class="box f6">
         Foste convidado para ser docente na faculdade. Aceitas o desafio?
        </div>

        <div class="image center">
          <img src="img/misc/school.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(10)"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="V" v-on:click=""><span>B</span> Não</button>
        </div>
      </article>
      </transition>

      <!-- Q4 -->
      <!-- Screen 10 -->
      <transition name="fade">
      <article id="screen_10" class="screen" v-if="current_screen == 10">
        <div class="box f6">
         Vamos validar no sangue uma hipótese. Será que descobriste o biomarcador?
        </div>

        <div class="image center">
          <img src="img/misc/blood.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="F" v-on:click=""><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Não</button>
        </div>
      </article>
      </transition>



      <!-- C: Proteoglycan ----------------------- -->
      <!-- Q1 -->
      <!-- Screen 11 -->
      <transition name="fade">
      <article id="screen_11" class="screen" v-if="current_screen == 11">
        <div class="box f6">
         Será que a célula tumoral tem muita proteína?
        </div>

        <div class="image center">
          <img src="img/misc/protein_c.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(12)"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Não</button>
        </div>
      </article>
      </transition>


      <!-- Q2 -->
      <!-- Screen 12 -->
      <transition name="fade">
      <article id="screen_12" class="screen" v-if="current_screen == 12">
        <div class="box f6">
         Vamos comparar com a célula normal. Qual das células vai ter mais proteína?
        </div>

        <div class="image center dn">
          <img src="img/misc/protein_c.png" >
        </div>


        <div class="buttons">
          <p><img src="img/misc/protein_c.png" ></p>
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(13)"><span>A</span> Tumoral</button>
          <p><img src="img/misc/normal_cell.png" ></p>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Normal</button>
        </div>
      </article>
      </transition>

      <!-- Q3 -->
      <!-- Screen 13 -->
      <transition name="fade">
      <article id="screen_13" class="screen" v-if="current_screen == 13">
        <div class="box f6">
         Tiveste um convite de última hora para ir de férias. Aceitas?
        </div>

        <div class="image center">
          <img src="img/misc/plane.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(14)"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="V" v-on:click=""><span>B</span> Não</button>
        </div>
      </article>
      </transition>

      <!-- Q4 -->
      <!-- Screen 14 -->
      <transition name="fade">
      <article id="screen_14" class="screen" v-if="current_screen == 14">
        <div class="box f6">
        Vamos validar no sangue esta hipótese. Será que descobriste o biomarcador?
        </div>

        <div class="image center">
          <img src="img/misc/blood.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click=""><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Não</button>
        </div>
      </article>
      </transition>



      <!-- D: Proteoglycan ----------------------- -->
      <!-- Q1 -->
      <!-- Screen 15 -->
      <transition name="fade">
      <article id="screen_15" class="screen" v-if="current_screen == 15">
        <div class="box f6">
        Será que a célula tumoral tem muita proteína?
        </div>

        <div class="image center">
          <img src="img/misc/protein_d.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="F" v-on:click=""><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click=""><span>B</span> Não</button>
        </div>
      </transition>


      <!-- Caminho Incorrecto ----------------------- -->
      

      <!-- Derrota - tempo acabou ----------------------- -->

      

      <!-- Vitória ----------------------- -->




      <!-- Nome ----------------------- -->



      <!-- Scoreboard ------------------ -->

    </section> <!-- / screens -->

    <section id="menu" class="pa4 bg-light-pink" v-if="menu == true">
      <h1 class="black">Menu</h1>
      <button class="db" v-on:click="restartGame">Restart Game</button>
    </section>

  </main>






  <script type="text/javascript">
    /* Render vue app */
    render();
  </script>

</body>
</html>