<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Glicom</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css"/>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/main.css"/>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="js/screens.js"></script>
  <script src="js/main.js"></script>

</head>
<body>

  <main id="app" class="">

    <!-- Loading -->
    <div class="loading">
      <h1 class="white tc">Loading...</h1>
    </div>

    <!-- Dias counter -->
    <div v-model="dias" id="dias" class="yellow dn">
      {{ dias }} dias
    </div>
    

    <!-- Static screens -->
    <section class="static_screens dn" v-if="">

      <transition name="fade">
      <!-- Screen 1 -->
      <article id="screen_1" class="screen" v-if="current_screen == 1">
        <div></div>

        <div class="buttons">
          <button class="db f6" data-key="a" v-on:click="goTo(2)"><span>A</span> Jogar</button>
          <button class="db f6" data-key="b" v-on:click="goTo(100)"><span>B</span> Sobre</button>
        </div>
      </article>
      </transition>

      <!-- Screen 2 -->
      <transition name="fade">
      <article id="screen_2" class="screen" v-if="current_screen == 2">
        <div class="box f6">
          Parabéns, acabaste de receber uma bolsa de investigação de 4 anos! Tens <span style="background-color: yellow;">1460 dias</span> para descobrir a proteína correta para identificar cancro nas células. Boa sorte!
        </div>
  

        <div class="buttons">
          <button class="db f6" data-key="a" v-on:click="goTo(3)"><span>A</span> Investiga!</button>
        </div>
      </article>
      </transition>

      <!-- Screen 3 -->
      <transition name="fade">
      <article id="screen_3" class="screen" v-if="current_screen == 3">
         <div class="box f6">
          Este thriller científico compara células normais das tumorais, com o objetivo de encontrar o indicador do estado de doença do paciente — o BIOMARCADOR. Escolhe uma das 4 Proteínas. Boa sorte!
        </div>
  
        <div class="buttons">
          <button class="db f6" data-key="a" v-on:click="goTo(4)"><span>A</span> Glypican</button>
          <button class="db f6" data-key="b" v-on:click="goTo(7)"><span>B</span> Betaglycan</button>
          <button class="db f6" data-key="c" v-on:click="goTo(11)"><span>C</span> Proteoglycan</button>
          <button class="db f6" data-key="d" v-on:click="goTo(15)"><span>D</span> Versican</button>
        </div>
      </article>
      </transition>

      <!--
        A: 3 - completo - imagens - falta modals
        B: 4 - completo - imagens - falta modals
        C: 4 - completo - imagens - falta modals
        D: 1 - completo - imagens - falta modals

        - scoring
      -->


      <!-- A - Glypican ----------------------- -->
      <!-- Q1 -->
      <!-- Screen 4 -->
      <transition name="fade">
      <article id="screen_4" class="screen" v-if="current_screen == 4">
        <div class="box f6">
         Será que a célula tumoral tem muita proteína?
        </div>

        <div class="image center">
          <img src="img/misc/protein_a.png" >
        </div>

        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51, 4, 5, 'Muito bem!')"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52, 4, 4, 'Tenta de novo.')"><span>B</span> Não</button>
        </div>

      </article>
      </transition>


      <!-- Screen 4 - Success -->


      <!-- Q2 -->
      <!-- Screen 5 -->
      <transition name="fade">
      <article id="screen_5" class="screen"  v-if="current_screen == 5">
        <div class="box f6">
         Vais ter de submeter um projeto para um congresso. Vais escrever ou não?
        </div>

        <div class="image center">
          <img src="img/misc/paper.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51, 5, 6)"><span>A</span> Escrever</button>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52, 5, 5)"><span>B</span> Não Escrever</button>
        </div>
      </article>
      </transition>


      <!-- Q3 -->
      <!-- Screen 6 -->
      <transition name="fade">
      <article id="screen_6" class="screen"  v-if="current_screen == 6">
        <div class="box f6">
         Vamos comparar com a célula normal. Qual das células vai ter mais proteína?
        </div>

      <div class="image center dn">

        </div>


        <div class="buttons">

          <p><img src="img/misc/protein_a.png" /></p>
          <button class="db" data-key="a" data-truth="F" v-on:click="goTo(52,6,6,'','doublefail')"><span>A</span> Tumoral</button>
          <p><img src="img/misc/normal_cell.png" /></p>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52,6,6,'','doublefail')"><span>B</span> Normal</button>
        </div>

      </article>
      </transition>




      <!-- B - Betaglycan ----------------------- -->
      <!-- Q1 -->
      <!-- Screen 7 -->
      <transition name="fade">
      <article id="screen_7" class="screen"  v-if="current_screen == 7">
        <div class="box f6">
         Será que a célula tumoral tem muita proteína?
        </div>

        <div class="image center">
          <img src="img/misc/protein_b.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51,7,8,'')"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52,7,7,'')"><span>B</span> Não</button>
        </div>
      </article>
      </transition>

      <!-- Q2 -->
      <!-- Screen 8 -->
      <transition name="fade">
      <article id="screen_8" class="screen"  v-if="current_screen == 8">
        <div class="box f6">
         Vamos comparar com a célula normal. Qual das células vai ter mais proteína?
        </div>

        <div class="image center dn">
        </div>


        <div class="buttons">
           <img src="img/misc/protein_b.png" >
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51,8,9,'')"><span>A</span> Tumoral</button>
           <img src="img/misc/normal_cell.png" >
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52,8,8,'')"><span>B</span> Normal</button>
        </div>
      </article>
      </transition>

      <!-- Q3 -->
      <!-- Screen 9 -->
      <transition name="fade">
      <article id="screen_9" class="screen"  v-if="current_screen == 9">
        <div class="box f6">
         Foste convidado para ser docente na faculdade. Aceitas o desafio?
        </div>

        <div class="image center">
          <img src="img/misc/school.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51,9,10,'Boa escolha!')"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="V" v-on:click="goTo(52,9,10,'Devias ter aceite, é bom para o CV!')"><span>B</span> Não</button>
        </div>
      </article>
      </transition>

      <!-- Q4 -->
      <!-- Screen 10 -->
      <transition name="fade">
      <article id="screen_10" class="screen" v-if="current_screen == 10">
        <div class="box f6">
         Vamos validar no sangue uma hipótese. Será que descobriste o biomarcador?
        </div>

        <div class="image center">
          <img src="img/misc/blood.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="F" v-on:click="goTo(52,10,10,'', 'doublefail')"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52,10,10,'','doublefail')"><span>B</span> Não</button>
        </div>
      </article>
      </transition>



      <!-- C: Proteoglycan ----------------------- -->
      <!-- Q1 -->
      <!-- Screen 11 -->
      <transition name="fade">
      <article id="screen_11" class="screen" v-if="current_screen == 11">
        <div class="box f6">
         Será que a célula tumoral tem muita proteína?
        </div>

        <div class="image center">
          <img src="img/misc/protein_c.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51,11,12,'Prossegue')"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52,11,11,'Tenta de novo.')"><span>B</span> Não</button>
        </div>
      </article>
      </transition>


      <!-- Q2 -->
      <!-- Screen 12 -->
      <transition name="fade">
      <article id="screen_12" class="screen" v-if="current_screen == 12">
        <div class="box f6">
         Vamos comparar com a célula normal. Qual das células vai ter mais proteína?
        </div>

        <div class="image center dn">
          <img src="img/misc/protein_c.png" >
        </div>


        <div class="buttons">
          <p><img src="img/misc/protein_c.png" ></p>
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51,12,13,'Isso mesmo!')"><span>A</span> Tumoral</button>
          <p><img src="img/misc/normal_cell.png" ></p>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52,12,12,':(')"><span>B</span> Normal</button>
        </div>
      </article>
      </transition>

      <!-- Q3 -->
      <!-- Screen 13 -->
      <transition name="fade">
      <article id="screen_13" class="screen" v-if="current_screen == 13">
        <div class="box f6">
         Tiveste um convite de última hora para ir de férias. Aceitas?
        </div>

        <div class="image center">
          <img src="img/misc/plane.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51,13,14,'Aproveita e descansa!')"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="V" v-on:click="goTo(52,13,13,'Devias ter ido e descansado!')"><span>B</span> Não</button>
        </div>
      </article>
      </transition>

      <!-- Q4 -->
      <!-- Screen 14 -->
      <transition name="fade">
      <article id="screen_14" class="screen" v-if="current_screen == 14">
        <div class="box f6">
        Vamos validar no sangue esta hipótese. Será que descobriste o biomarcador?
        </div>

        <div class="image center">
          <img src="img/misc/blood.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(51,14,91,'Tens mesmo talento! :)')"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52,14,14,'Tenta outra hipótese.')"><span>B</span> Não</button>
        </div>
      </article>
      </transition>



      <!-- D: Proteoglycan ----------------------- -->
      <!-- Q1 -->
      <!-- Screen 15 -->
      <transition name="fade">
      <article id="screen_15" class="screen" v-if="current_screen == 15">
        <div class="box f6">
        Será que a célula tumoral tem muita proteína?
        </div>

        <div class="image center">
          <img src="img/misc/protein_d.png" >
        </div>


        <div class="buttons">
          <button class="db" data-key="a" data-truth="F" v-on:click="goTo(52,15,15,'Não é por aqui!','doublefail')"><span>A</span> Sim</button>
          <button class="db" data-key="b" data-truth="F" v-on:click="goTo(52,15,15,'Errar faz parte do processo.','doublefail')"><span>B</span> Não</button>
        </div>
      </article>
      </transition>


      <!-- Certo -->
      <transition name="fade">
      <article id="screen_51" class="screen" v-if="current_screen == 51">
        <div class="box f6">
          <h1>Certo!</h1>
          <p>{{ message }}</p>

  
        </div>

        <div class="image center">
          <img src="img/misc/win.png" >
        </div>

        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(next_screen)"><span>A</span> Avançar</button>
        </div>

      </article>
      </transition>

      <!-- Errado -->
      <transition name="fade">
      <article id="screen_52" class="screen" v-if="current_screen == 52">
        <div class="box f6">
          <h1>Errado!</h1>
          <p>{{ message }}</p>
        </div>

        <div class="image center">
          <img src="img/misc/fail.png" >
        </div>

        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(previous_screen)"><span>A</span> Tentar de novo</button>
        </div>

      </article>
      </transition>


      <!-- Caminho Incorrecto ----------------------- -->
      <transition name="fade">
      <article id="screen_53" class="screen" v-if="current_screen == 53">
        <div class="box f6">
          <h1>Afinal não era esta proteína!</h1>
          <p>Escolher outra.</p> 

        </div>

        <div class="image center dn">
          <img src="img/misc/fail.png" >
        </div>

        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(3)"><span>A</span> Escolher proteína</button>
        </div>

      </article>
      </transition>
      

      <!-- Derrota - tempo acabou ----------------------- -->
      <!-- Screen 15 -->
      <transition name="fade">
      <article id="screen_90" class="screen" v-if="current_screen == 90">
        <div class="box f6">
          <h1>Não!</h1>
          <p>Não concluiste a tua pesquisa a tempo e terminou a bolsa… O mundo jamais saberá para que serve um biomarcador…</p>
        </div>

        <div class="image center">
          <img src="img/misc/fail.png" >
        </div>

        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(1)"><span>A</span> Reiniciar</button>
        </div>

      </article>
      </transition>

      

      <!-- Vitoria ----------------------- -->
      <transition name="fade">
      <article id="screen_91" class="screen" v-if="current_screen == 91">
        <div class="box f6">
          <h1>Vitória!</h1>
          <p>Biomarcadores são o futuro da humanidade e tu conquistaste glória eterna. Ganhaste fama e muito, mas muito dinheiro!</p>
        </div>

        <div class="image center">
          <img src="img/misc/champion.png" >
        </div>

        <div class="buttons">
          <button class="db" data-key="a" data-truth="V" v-on:click="goTo(1)"><span>A</span> Reiniciar</button>
        </div>

      </article>
      </transition>






      <!-- Scoreboard ------------------ -->


      <!-- About ------------------------- -->
      <!-- Screen 100 -->
      <transition name="fade">
      <article id="screen_100" class="screen" v-if="current_screen == 100">
        <div class="box f6 about">
          <h1>GLICOM</h1>
          <p>Este jogo interactivo foi elaborado no contexto do <a href="http://uporto.emergencehackathon.com" target="_blank">Emergence@UPorto - “Digital Media for Science Communication Hackaton”</a>, em Setembro/2019</p>

          <p>Equipa:<br><span>Ana Laranja</span>, Comunicadora de Ciência<br>
          <span>Dan Martini</span>, Criativo<br>
          <span>João Antunes</span>, Developer<br>
          <span>João Pedro Ribeiro</span>, Criativo<br>
          <span>Juliana Poças</span>, Cientista<br>
          </p>

        </div>

        <div class="buttons">
          <button class="db" data-key="a" data-truth="" v-on:click="goTo(1)"><span>A</span> Voltar</button>
        </div>
      </article>
      </transition>

    </section> <!-- / screens -->


  </main>





  <script type="text/javascript">
    /* Render vue app */
    render();
  </script>

</body>
</html>