<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Glicom</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.css"/>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/main.css"/>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
  <script src="js/screens.js"></script>
  <script src="js/main.js"></script>

</head>
<body>

  <main id="app">
    <nav class="dn">
      <div v-for="screen in screens">
        <div></div>
      </div>
    </nav>

    <!-- Dias counter -->
    <div v-model="dias" class="dias">
      {{ animatedDias }} dias
    </div>
    
    <section v-for="screen in screens"
            :key="screen.id"
            :style="{ background: screen.bg_color }"
            v-if="current == screen.id && menu == false"
            class="pa4"
            :class="'screen_' + screen.id">


            <!-- Screen content -->
            <h1>{{ screen.text }}</h1>
            <h3 class="dn">{{ screen.type }}</h3>
            <div v-if="screen.questions">
              <button class="db" v-on:click="goTo(2)">A: Protéina</button>
              <button class="db" v-on:click="goTo(3)">B: Célula</button>
              <button class="db" v-on:click="goTo(4)">C: ADN</button>
              <button class="db" v-on:click="goTo(5)">D: Sangue</button>
            </div>

            <!-- Debug: restart -->
            <div v-if="screen.id != 1">
              <button class="db" v-on:click="goTo(1)">Start Again</button>
            </div>

            <!-- Option Modals -->

            <!-- Clicker -->
            <div class="clicker dn">
              <div class="left" v-on:click="previous">
              </div>
              <div class="right"  v-on:click="next">
            </div>
    </section>

    <section id="menu" class="pa4 bg-light-pink" v-if="menu == true">
      <h1 class="black">Menu</h1>
      <button class="db" v-on:click="restartGame">Restart Game</button>
    </section>
  </main>


  <script type="text/javascript">
    /* Render vue app */
    render();
  </script>

</body>
</html>