    <section class="screen pa4 dn" v-for="screen in screens"
            :key="screen.id"
            :style="{}"
            v-if="current == screen.id && menu == false"
            :class="'screen_' + screen.id">


            <!-- Screen content -->
            <!-- Story -->
            <div v-if="screen.type == 'story'">
              <h3 class="dn">{{ screen.type }}</h3>
              <button class="db" data-key="" v-on:click="">{{ screen.button }}</button> 
            </div>


            <!-- Question -->
    <!--         <div v-if="screen.type == 'question'">
              <div v-if="screen.questions">
                <button class="db" data-key="a" v-on:click="goTo(2)">A: Protéina</button>
                <button class="db" data-key="b" v-on:click="goTo(3)">B: Célula</button>
                <button class="db" data-key="c" v-on:click="goTo(4)">C: ADN</button>
                <button class="db" data-key="d" v-on:click="goTo(5)">D: Sangue</button>
              </div>
            </div> -->


            <!-- Debug: restart -->
            <div class="dn" v-if="screen.id != 1">
              <button class="db" data-key="a" v-on:click="goTo(1)">Start Again</button>
            </div>


            <!-- Clicker -->
            <div class="clicker dn">
              <div class="left" v-on:click="previous">
              </div>
              <div class="right"  v-on:click="next">
              </div>
            </div>
    </section>